{
    "parser": "@typescript-eslint/parser",
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier/@typescript-eslint",
      "plugin:prettier/recommended"
    ],
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module"
    },
    "rules": {
            "tabWidth": 2,
            "useTabs": false,
            "singleQuote": true,
            "semi": true,
            "bracketSpacing": true,
            "arrowParens": "avoid",
            "trailingComma": "es5",
            "bracketSameLine": true,
            "printWidth": 80
    }
  }