<div *ngIf="isShowModalCleanList" [ngClass]="'popUp'">
  <div [style]="'margin: 0 1em'">
    <h3 [ngStyle]="{'display': 'flex', 'justifyContent': 'end'}">
      <span (click)="closeCleanListModal()" [style]="{'cursor': 'pointer'}">X</span>
    </h3>
    <h3 [style]="{margin:'0'}">{{ "OTHERS.CLEAN_LIST"| translate}}</h3>
    <div [style]="{marginTop: '1.8rem', display: 'flex', justifyContent: 'space-evenly'}">
      <button [className]="'button-popUp'" (click)="cleanList()">
        {{ "OTHERS.YES" | translate}}
      </button>
      <button [className]="'button-popUp'" (click)="closeCleanListModal()">
        {{ "OTHERS.NO" | translate}}
      </button>
    </div>
  </div>
</div>
