.popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 28rem;
  height: 14rem;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background-color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px #707070 solid;
  color: #707070;
  letter-spacing: 2px;
}

// Button Pop Up
.button-popUp {
  height: 2.5rem;
  width: 6rem;
  background: content-box;
  text-align: center;
  border: 1px #707070 solid;
  color: #707070;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 0;
}

.button-popUp:hover {
  background-color: rgb(236, 235, 235);
  font-weight: bold;
}
