<!-- Content -->
<div [style]="{ width: '99.9vw', height: '80.9vh', backgoundColor: 'black' }">
  <div [style]="{backgoundColor: 'pink', width: '99.9vw', height: '80.9vh'}">
    <!-- Title -->
    <h1 [style]="{ marginLeft: '3em', pointerEvents: 'none'}" [ngClass]="'lyrics'">
      {{ 'SIDE_NAV.PRODUCTS' | translate}}
    </h1>
    <!-- Container -->
    <div [id]="'container'" [style]="{display: 'flex', flexDirection: 'column', alignItems: 'center'}">
      <!-- Searchs by name -->
      <div
        [style]="{display: 'flex', width: '80%', justifyContent: 'space-between', marginLeft: '0rem', marginBottom: '1.7rem', marginTop: '1rem'}">
        <mat-form-field [ngStyle]="{textAlign: 'center'}">
          <mat-label [style]="{fontSize: '1.2em'}" [ngClass]="'lyrics'">
            {{ 'SEARCH_OPTION.SEARCH_PRODUCT' | translate}}
          </mat-label>
          <input matInput (keyup)="applyFilter($event)" #input [(ngModel)]="valueFilterText">
          <button *ngIf="valueFilterText" matSuffix mat-icon-button aria-label="Clear"
            (click)="cleanInputFilter($event)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <!-- Filter by category -->
        <mat-form-field [ngStyle]="{width: '13rem', textAlign: 'center'}">
          <mat-label [style]="{fontSize: '1.2em'}" [ngClass]="'lyrics'">
            {{ 'SEARCH_OPTION.SEARCH_CATEGORY' | translate}}
          </mat-label>
          <mat-select (valueChange)="changeCategoryFilter($event)">
            <mat-option>{{ 'PRODUCTS_ATRIBUTES.ALL' | translate }}</mat-option>
            <mat-option *ngFor="let category of categories | keyvalue" [value]="category">
              {{translateCategoryProducts+category.value | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <div>
        <mat-grid-list [cols]="columns" [gutterSize]="'0rem'" rowHeight="23rem" (window:resize)="handleResize($event)">
          <mat-grid-tile *ngFor="let product of obs | async">
            <div [ngClass]="'product-details'">
              <div [ngStyle]="{height: '100%'}">
                <div [ngStyle]="{display: 'flex', justifyContent: 'center', marginTop: '1rem'}">
                  <div
                    [ngStyle]="{border: '1px #707070 solid', width: '8.5rem', height: '8rem', margin: '0', borderRadius: '1rem', backgroundImage: 'url(./../../../../../../assets/img-product.jpeg)'}">
                  </div>
                </div>
                <div
                  [ngStyle]="{display: 'flex', flexDirection: 'column', justifyContent: 'space-around', height: '57%', marginLeft: '0.9rem', marginRight: '0.9rem', marginTop: '0.5rem'}">
                  <div [ngStyle]="{height: 'auto'}">
                    <h3 [ngStyle]="{margin: 0, overflow: 'hidden', whiteSpace: 'nowrap', textOverflow: 'ellipsis'}">
                      {{ product.name | translate}}
                    </h3>
                    <div>
                      <h4 [ngStyle]="{margin: 0, marginTop: '0.6rem'}">
                        {{ 'PRODUCTS_ATRIBUTES.BRAND' | translate}}:
                        <span [style]="{fontSize: '0.9rem'}">{{product.brand | translate}}</span>
                      </h4>
                    </div>
                    <div>
                      <h4 [ngStyle]="{margin: 0, marginTop: '0.3rem'}">
                        {{ 'PRODUCTS_ATRIBUTES.FORMAT_SIZE' | translate}}:
                        <span [style]="{fontSize: '0.9rem'}">
                          {{product.formatSize}}
                        </span>
                      </h4>
                    </div>
                    <div>
                      <h4 [ngStyle]="{margin: 0, marginTop: '0.3rem'}">
                        {{ 'PRODUCTS_ATRIBUTES.PRICE' | translate}}:
                        <span [style]="{fontSize: '0.9rem'}">
                          {{product.price}}€
                        </span>
                      </h4>
                    </div>
                  </div>
                  <div>
                    <div *ngIf="product.units > 0; else elseBlock">
                      <div [ngStyle]="{display: 'flex', alignItems: 'center', justifyContent: 'center'}">
                        <div [style]="{display: 'flex', justifyContent: 'space-between'}">
                          <button (click)="addProductToTheList(product)" [className]="'button'"
                            [style]="{marginRight: '1rem'}">+</button>
                          <div [className]="'input-units'">{{product.units}}</div>
                          <button [className]="'button'" (click)="restProductToTheList(product)"
                            [style]="{marginLeft: '1rem'}">-</button>
                        </div>
                      </div>
                    </div>
                    <ng-template #elseBlock>
                      <div [ngStyle]="{display: 'flex', alignItems: 'center', justifyContent: 'center'}"
                        (click)="addProductToTheList(product)">
                        <div
                          [ngStyle]="{cursor: 'pointer', borderRadius: '1rem', border: '#707070 1px solid', width: '12rem', height: '2.2rem', display: 'flex', alignItems: 'center', justifyContent: 'center'}">
                          <p [ngStyle]="{margin: '0 0.5rem', display: 'flex'}">
                            {{ 'OTHERS.ADD_TO_THE_LIST'| translate}}
                          </p>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <div [ngStyle]="{marginBottom: '4rem', width: '100%'}">
        <mat-paginator [ngStyle]="{backgroundColor: '#fafafa', marginRight: '5rem'}"
          [pageSizeOptions]="[10, 20, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
