<div *ngIf="isShowModalDeleteProduct" [ngClass]="'popUp'">
    <div [style]="'margin: 0 1em'">
      <h3 [ngStyle]="{'display': 'flex', 'justifyContent': 'end'}">
        <span (click)="closeDeleteProductModal()" [style]="{'cursor': 'pointer'}">X</span>
      </h3>
      <h3>{{ "OTHERS.DELETE_PRODUCT" | translate}}</h3>
      <div [style]="{marginTop: '1.8rem', display: 'flex', justifyContent: 'space-evenly'}">
        <button [className]="'button-popUp'" (click)="deleteProduct()">
          {{ "OTHERS.YES" | translate}}
        </button>
        <button [className]="'button-popUp'" (click)="closeDeleteProductModal()">
          {{ "OTHERS.NO" | translate}}
        </button>
      </div>
    </div>
</div>