<!-- Content -->
<div [style]="{ width: '99.9vw', height: '80.9vh' }">
  <!-- Title -->
  <h1 [style]="{ marginLeft: '3em', pointerEvents: 'none'}" [ngClass]="'lyrics'">My List</h1>
  <!-- Container -->
  <div [id]="'container'" [style]="{display: 'flex', flexDirection: 'column', alignItems: 'center'}">
    <!-- Searchs options -->
    <div [style]="{display: 'flex', marginBottom: '3em', marginTop: '1em'}">
      <mat-form-field>
        <mat-label [style]="{fontSize: '1.2em'}" [ngClass]="'lyrics'">Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
      <mat-form-field>
        <mat-label [style]="{fontSize: '1.2em'}" [ngClass]="'lyrics'">Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>
    </div>
    <div [style]="{display: 'flex', justifyContent: 'center', marginBottom: '5em'}">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Check Column -->
        <ng-container matColumnDef="check">
          <th mat-header-cell *matHeaderCellDef [style]="{backgroundColor: '#fafafa'}"> </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox [style]="{marginLeft: '1em'}" [(ngModel)]="row.isChecked"></mat-checkbox>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th [ngClass]="'lyrics'" mat-header-cell *matHeaderCellDef mat-sort-header
            [style]="{backgroundColor: '#fafafa', fontSize: '1.2em'}"> Name </th>
          <td [ngClass]="row.isChecked ? ['lyricsGetItem', 'getItem'] : ['lyrics']" mat-cell *matCellDef="let row">
            {{row.name}}
          </td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
          <th [ngClass]="'lyrics'" mat-header-cell *matHeaderCellDef mat-sort-header
            [style]="{backgroundColor: '#fafafa', fontSize: '1.2em'}"> Category </th>
          <td [ngClass]="row.isChecked ? ['lyricsGetItem', 'getItem'] : ['lyrics']" mat-cell *matCellDef="let row">
            {{row.category}}
          </td>
        </ng-container>

        <!-- Brand Column -->
        <ng-container matColumnDef="brand">
          <th [ngClass]="'lyrics'" mat-header-cell *matHeaderCellDef mat-sort-header
            [style]="{backgroundColor: '#fafafa', fontSize: '1.2em'}"> Brand </th>
          <td [ngClass]="row.isChecked ? ['lyricsGetItem', 'getItem'] : ['lyrics']" mat-cell *matCellDef="let row">
            {{row.brand}}
          </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th [ngClass]="'lyrics'" mat-header-cell *matHeaderCellDef mat-sort-header
            [style]="{backgroundColor: '#fafafa', fontSize: '1.2em'}"> Price </th>
          <td [ngClass]="row.isChecked ? ['lyricsGetItem', 'getItem'] : ['lyrics']" mat-cell *matCellDef="let row">
            {{row.price}}
          </td>
        </ng-container>

        <!-- Units Column -->
        <ng-container matColumnDef="units">
          <th [ngClass]="'lyrics'" mat-header-cell *matHeaderCellDef mat-sort-header
            [style]="{backgroundColor: '#fafafa', fontSize: '1.2em'}"> Unit/s </th>
          <td [ngClass]="row.isChecked ? ['lyricsGetItem', 'getItem'] : ['lyrics']" mat-cell *matCellDef="let row">
            {{row.units}}
          </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th [ngClass]="'lyrics'" mat-header-cell *matHeaderCellDef
            [style]="{backgroundColor: '#fafafa', fontSize: '1.2em'}"></th>
          <td mat-cell *matCellDef="let row; let index = index;" class="status">
            <mat-icon (click)="showModal($event, row.isChecked, index)"
              [ngStyle]="row.isChecked ? {color: '#A2A2A2'} : {color: '#707070', cursor: 'pointer'}">
              {{row.delete}}
            </mat-icon>
          </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [style]="{backgroundColor: '#fafafa'}"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">No data matching the filter</td>
        </tr>
      </table>
    </div>
    <!-- POP UP -->
    <!-- <div [style]="isDeleteSelect ? 'display: flex' : 'display: none'" [ngClass]="'popUp'"> -->
    <div *ngIf="isDeleteSelect" [ngClass]="'popUp'">
      <div [style]="'margin: 0 1em'">
        <h3 (click)="closeModal()" [ngStyle]="{'display': 'flex', 'justifyContent': 'end', 'cursor': 'pointer'}">X</h3>
        <h3>Are you sure you want to remove this item from your list?</h3>
        <div [style]="'marginTop: 1.5em'">
          <button (click)="deleteProduct()">YES</button>
          <button (click)="closeModal()">NO</button>
        </div>
      </div>
    </div>
  </div>
</div>
