<!-- Content -->
<div [style]="{ width: '99.9vw', height: '80.9vh' }">
  <div [style]="{backgoundColor: 'pink', width: '99.9vw', height: '80.9vh'}" (click)="closeAllModals()">
    <!-- Title -->
    <h1 [style]="{ marginLeft: '3em', pointerEvents: 'none'}" [ngClass]="'lyrics'">
      {{ 'SIDE_NAV.MY_LIST' | translate}}
    </h1>
    <!-- Container -->
    <div [id]="'container'" [style]="{display: 'flex', flexDirection: 'column', alignItems: 'center'}">
      <!-- Searchs options -->
      <div [style]="{display: 'flex', width: '80%',  marginBottom: '1.7rem', marginTop: '1rem'}">
        <mat-form-field class="example-form-field">
          <mat-label [style]="{fontSize: '1.2em'}" [ngClass]="'lyrics'">
            {{ 'SEARCH_OPTION.SEARCH_PRODUCT' | translate}}
          </mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="" #input [(ngModel)]="valueFilterText">
          <button *ngIf="valueFilterText" matSuffix mat-icon-button aria-label="Clear"
            (click)="cleanInputFilter($event)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <!-- <mat-form-field>
        <mat-label [style]="{fontSize: '1.2em'}" [ngClass]="'lyrics'">Change Market</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field> -->
      </div>
      <div [style]="{display: 'flex', justifyContent: 'center', marginBottom: '0.5em'}">
        <table mat-table [dataSource]="dataSource" matSort #empTbSort="matSort" [style]="{ backgroundColor: '#fafafa'}">
          <!-- Check Column -->
          <ng-container matColumnDef="check">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row; let index = index;">
              <mat-checkbox (click)="checkChange($event, row.id)" [style]="{marginLeft: '1em'}"
                [(ngModel)]="row.isChecked"></mat-checkbox>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th [ngClass]="'lyrics'" mat-header-cell *matHeaderCellDef mat-sort-header [style]="{fontSize: '1.2em'}">
              {{ 'PRODUCTS_ATRIBUTES.NAME' | translate}}
            </th>
            <td (click)="showModalProductDetails($event , row)"
              [ngClass]="row.isChecked ? ['lyricsGetItem', 'getItem'] : ['lyrics']" mat-cell *matCellDef="let row">
              {{row.name | translate}}
            </td>
          </ng-container>

          <!-- Category Column -->
          <ng-container matColumnDef="category">
            <th [ngClass]="'lyrics'" mat-header-cell *matHeaderCellDef mat-sort-header [style]="{fontSize: '1.2em'}">
              {{ 'PRODUCTS_ATRIBUTES.CATEGORY' | translate}}
            </th>
            <td (click)="showModalProductDetails($event, row)"
              [ngClass]="row.isChecked ? ['lyricsGetItem', 'getItem'] : ['lyrics']" mat-cell *matCellDef="let row">
              {{ translateCategoryProducts+row.category | translate}}
            </td>
          </ng-container>

          <!-- Brand Column -->
          <ng-container matColumnDef="brand">
            <th [ngClass]="'lyrics'" mat-header-cell *matHeaderCellDef mat-sort-header [style]="{fontSize: '1.2em'}">
              {{ 'PRODUCTS_ATRIBUTES.BRAND' | translate}}
            </th>
            <td (click)="showModalProductDetails($event, row)"
              [ngClass]="row.isChecked ? ['lyricsGetItem', 'getItem'] : ['lyrics']" mat-cell *matCellDef="let row">
              {{row.brand}}
            </td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="price">
            <th [ngClass]="'lyrics'" mat-header-cell *matHeaderCellDef mat-sort-header [style]="{fontSize: '1.2em'}">
              {{ 'PRODUCTS_ATRIBUTES.PRICE' | translate}}
            </th>
            <td (click)="showModalProductDetails($event, row)"
              [ngClass]="row.isChecked ? ['lyricsGetItem', 'getItem'] : ['lyrics']" mat-cell *matCellDef="let row">
              {{row.price}}€
            </td>
          </ng-container>

          <!-- Units Column -->
          <ng-container matColumnDef="units">
            <th [ngClass]="'lyrics'" mat-header-cell *matHeaderCellDef mat-sort-header [style]="{fontSize: '1.2em'}">
              {{ 'PRODUCTS_ATRIBUTES.UNITS' | translate}}
            </th>
            <td (click)="showModalProductDetails($event, row)"
              [ngClass]="row.isChecked ? ['lyricsGetItem', 'getItem'] : ['lyrics']" mat-cell *matCellDef="let row">
              {{row.units}}
            </td>
          </ng-container>

          <!-- Delete Column -->
          <ng-container matColumnDef="delete">
            <th [ngClass]="'lyrics'" mat-header-cell *matHeaderCellDef [style]="{ fontSize: '1.2em'}"></th>
            <td mat-cell *matCellDef="let row; let index = index;" class="status">
              <mat-icon (click)="showDeleleProductModal($event, row.isChecked, row.id)"
                [ngStyle]="row.isChecked ? {color: '#A2A2A2'} : {color: '#707070', cursor: 'pointer'}">
                {{row.delete}}
              </mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell lyrics" colspan="7">
              {{'OTHERS.WITHOUT_PRODUCTS' | translate}}
            </td>
          </tr>
        </table>
      </div>

      <div [ngClass]="'lyrics'" [style]="{width: '90%', display: 'flex', justifyContent: 'start', fontSize: '1rem'}">
        <h2> {{'OTHERS.AMOUNT' | translate}}: {{totalAmount}}€</h2>
      </div>
    </div>
  </div>
  <!-- MODAL DELETE PRODUCT -->
  <app-modal-delete-product [isShowModalDeleteProduct]="isShowModalDeleteProduct"
    (eventCloseDeleteModal)="closeDeleteProductModal()" (eventDeleteProduct)="deleteProduct()">
  </app-modal-delete-product>
  <!-- MODAL CLEAN LIST -->
  <app-modal-clean-list [isShowModalCleanList]="isShowModalCleanList" (eventCloseCleanListModal)="closeCleanListModal()"
    (eventCleanList)="cleanList()"></app-modal-clean-list>
  <!-- MODAL PRODUCT DETAIL -->
  <app-modal-details-product [isShowModalProductDetails]="isShowModalProductDetails" [itemSelect]="itemSelect"
    (eventCloseProductDetailsModal)="closeProductDetailsModal()" (eventSumUnit)="sumUnit()"
    (eventRestUnit)="restUnit()"></app-modal-details-product>
</div>
