// TABLE
table {
  width: 100%;
  box-shadow: none;
  background-color: '#fafafa';
}

.mat-table {
  background-color: '#fafafa';
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 13vw;
}

// CHECK BOX
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #707070 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #707070 !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: #707070 !important;
}

// LYRICS
.lyrics {
  font-family: 'Segoe_UI';
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
  color: #707070;
}

// GET ITEM
.getItem {
  text-decoration: line-through;
  text-decoration-color: #A2A2A2;
}

.lyricsGetItem {
  font-family: 'Segoe_UI';
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
  color: #A2A2A2;
}

// POP UP
.popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 28rem;
  height: 14rem;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background-color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px #707070 solid;
  color: #707070;
  letter-spacing: 2px;
}

// PRODUCTO DETAILS
.product-details {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 31rem;
  height: 28rem;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background-color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px #707070 solid;
  border-radius: 1rem;
  color: #707070;
  letter-spacing: 2px;
}

.button-add-rest {
  height: 2.5rem;
  width: 2.5rem;
  background: content-box;
  border: 1px #707070 solid;
  color: #707070;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0px;
  text-align: center; 
  margin: auto;
}

.input-units {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 9rem;
  border: 1px #707070 solid;
  color: #707070;
  padding: 0;
  margin: 0;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0px;
  text-align: center; 
  margin: auto;
}

// Button Pop Up
.button-popUp {
  height: 2.5rem;
  width: 6rem;
  background: content-box;
  text-align: center;
  border: 1px #707070 solid;
  color: #707070;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 0;
}

.button-popUp:hover {
  background-color: rgb(236, 235, 235);
  font-weight: bold;
}

